@page "/AccountTransactions"
@using Microsoft.AspNetCore.Components.QuickGrid
<h3>AccountTransactions</h3>

<label>List of Account Transactions</label>

<QuickGrid Items="@_accountTransactions">
    
</QuickGrid>